html {
	scroll-behavior: smooth;
}

body {
	font-family: "Work Sans", sans-serif;
	background-color: #f9faff;
}

#one {
	height: 100vh;
	background: linear-gradient(#002661, #92ffc0);
	color: white;
}

#one header { 
	position: absolute;
    top: 1%;
    right: 1%;
}

#one header a {
	text-decoration: none;
	color: grey;
	padding: 3px;
}

#one header a:hover {
	color: rgba(229, 71, 75, 0.75);
}

#one .container {
	height: 100%;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
}

#name {
	font-family: "Museo_Slab_500_2", "Work Sans", sans-serif;
}

#arrow {
	color: lightgrey;
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes floating {
	from {
		transform: translateY(20%);
	}
	65% {
		transform: translateY(100%);
	}
	to {
		transform: translateY(20%);
	}
}


#two .container {
	padding: 5%;
	text-align: center;
}

#two #about p {
	font-size: large;
}

#two hr {
	margin-top: 5%;
	margin-bottom: 5%;
}

.card {
	background-color: rgba(255, 255, 255, 0.1);
}

.card-img-top {
    transition: transform .2s;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.btn {
	background-color: rgba(255, 255, 255, 0.1);
	color: black;
}

.footer p {
	margin: 0;
	text-align: center;
	font-size: small;
}
